/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
img {
  max-width: 100%;
  height: auto;
}
nav {
  font-size: 1.6rem;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  font-family: 'Cormorant Infant', serif;
}
.container {
  margin: 0 auto;
}
.navContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  justify-items: space-around;
}
.navContainer .navSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 940px) {
  .navContainer .navSection {
    flex-direction: column;
    align-items: center;
  }
}
.navContainer .navSection img {
  width: 290px;
}
.navContainer .navSection nav {
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width:570px) {
  .navContainer .navSection nav {
    width: 100%;
    flex-direction: column;
    height: auto;
  }
}
@media (max-width: 940px) {
  .navContainer .navSection nav {
    justify-content: space-evenly;
    padding-bottom: 10px;
  }
}
.navContainer .navSection nav a {
  padding: 10px;
  text-decoration: none;
  color: #212529;
  font-family: 'cormorant garamond', serif;
}
@media (max-width: 940px) {
  .navContainer .navSection nav a {
    padding: 10px 0 10px 0;
  }
}
.navContainer .navSection nav a:hover {
  color: gray;
  border-bottom: 2px solid black;
  transition: 0.2s;
}
.navContainer .navSection .nav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}
@media (max-width:570px) {
  .navContainer .navSection .nav-buttons {
    padding: 10px;
  }
}
.navContainer .navSection .nav-buttons button {
  height: 25px;
  border-radius: 10%;
  width: 90px;
  border-style: none;
}
.navContainer .navSection .nav-buttons .signUp {
  background-color: #ffb97b;
  color: white;
  font-family: 'Trirong', serif;
}
.navContainer .navSection .nav-buttons .signUp:hover {
  background-color: white;
  cursor: pointer;
  color: #ffb97b;
}
.navContainer .navSection .nav-buttons .logIn {
  background-color: white;
  color: #ffb97b;
  font-family: 'Trirong', serif;
}
.navContainer .navSection .nav-buttons .logIn:hover {
  background-color: #ffb97b;
  cursor: pointer;
  color: white;
}
.landingPage-BannerContainer {
  position: relative;
  max-width: 100%;
}
.landingPage-BannerContainer img {
  max-width: 100%;
  height: auto;
}
.landingPage-BannerContainer .intro {
  width: 420px;
  height: 250px;
  position: absolute;
  top: 40%;
  left: 30px;
  color: white;
  font-family: 'Cormorant Infant', serif;
  display: block;
}
@media (max-width:570px) {
  .landingPage-BannerContainer .intro {
    top: 0;
    left: 0;
    position: initial;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: initial;
    padding-top: 40px;
  }
}
.landingPage-BannerContainer .intro .title {
  background-color: rgba(20, 19, 18, 0.6);
}
@media (max-width:570px) {
  .landingPage-BannerContainer .intro .title {
    background-color: white;
  }
}
.landingPage-BannerContainer .intro .buttons-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media (max-width: 940px) {
  .landingPage-BannerContainer .intro .buttons-container {
    display: none;
  }
}
.landingPage-BannerContainer .intro .buttons-container button {
  height: 40px;
  border-radius: 5%;
}
.landingPage-BannerContainer .intro .buttons-container button:hover {
  cursor: pointer;
}
.landingPage-BannerContainer .intro .buttons-container .weddingPlanner {
  color: peru;
  border: 2px solid #ffb97b;
  font-weight: bold;
  background-color: whitesmoke;
  font-family: 'Trirong', serif;
}
.landingPage-BannerContainer .intro .buttons-container .weddingPlanner:hover {
  background: white;
}
.landingPage-BannerContainer .intro .buttons-container .signUp {
  width: 140px;
  color: white;
  background-color: peru;
  border: 2px solid #ffb97b;
  font-weight: bold;
  font-family: 'Trirong', serif;
  transition-duration: 1s;
}
.landingPage-BannerContainer .intro .buttons-container .signUp:hover {
  background-color: #ffb97b;
}
.landingPage-BannerContainer .intro p {
  font-weight: bolder;
  padding-left: 120px;
}
@media (max-width:570px) {
  .landingPage-BannerContainer .intro p {
    display: none;
  }
}
.landingPage-BannerContainer .intro p .logIn {
  text-decoration: none;
  font-family: 'Trirong', serif;
  border-radius: 4px;
  border: none;
}
.landingPage-BannerContainer .intro p .logIn:hover {
  color: goldenrod;
  cursor: pointer;
}
.landingPage-MainContainer {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
}
.landingPage-MainContainer .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 190px;
  max-width: 100%;
}
@media (max-width:570px) {
  .landingPage-MainContainer .title {
    width: 100%;
    text-align: center;
  }
}
.landingPage-MainContainer .title h3 {
  font-family: 'allura', cursive;
  font-size: 3.5rem;
}
.landingPage-MainContainer .title h4 {
  font-family: 'allura', cursive;
  font-size: 2.5rem;
}
.landingPage-MainContainer .advice-container {
  display: flex;
  flex-direction: row;
}
@media (max-width:570px) {
  .landingPage-MainContainer .advice-container {
    flex-direction: column;
  }
}
.landingPage-MainContainer .advice-container .advice-section {
  padding: 10px;
}
.landingPage-MainContainer .advice-container .advice-section .top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landingPage-MainContainer .advice-container .advice-section .top img {
  width: 64px;
}
.landingPage-MainContainer .advice-container .advice-section .top p {
  line-height: 60px;
  font-weight: 700;
}
.buttons-container {
  text-align: center;
}
.buttons-container .weddingPlanner {
  background-color: #ffb97b;
  color: white;
  border: 2px solid #ffb97b;
  font-weight: bold;
  font-family: 'Trirong', serif;
}
.buttons-container .weddingPlanner:hover {
  color: peru;
  transition: 0.5s;
  cursor: pointer;
}
@media (min-width:941px) {
  .buttons-container {
    display: none;
  }
}
.container2 {
  border-top: 1px solid #b6b6b6;
}
.container2 .idea-title {
  text-align: center;
  padding: 40px;
  font-family: 'allura', cursive;
  font-size: 3.5rem;
}
.container2 .blogs-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: auto;
}
.container2 .blogs-list .idea-section {
  margin: auto;
  width: 500px;
}
.container2 .blogs-list .idea-section .blog-img {
  width: 100%;
  height: 70%;
  padding: 10px;
}
.container2 .blogs-list .idea-section p {
  padding: 10px;
  text-align: center;
  font-size: 2.1rem;
}
.container2 .blogs-list .idea-section p a {
  text-decoration: none;
  color: black;
}
.container2 .blog-button {
  text-align: center;
  height: 100px;
  padding: 10px;
}
.container2 .blog-button button {
  width: 100px;
  height: 30px;
  border-radius: 10%;
  border-style: none;
  border: 2px solid peru;
  background-color: whitesmoke;
  font-family: 'Trirong', serif;
}
.container2 .blog-button button:hover {
  cursor: pointer;
  background-color: peru;
  border: 2px solid #e6e0e0;
  transition: 0.5s;
}
.container3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid #b6b6b6;
}
.container3 .container3-top {
  max-width: 100%;
}
.container3 .container3-top .follow-us {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}
.container3 .container3-top .follow-us h3 {
  font-family: 'allura', cursive;
  font-size: 3.5rem;
}
.container3 .container3-top .follow-us p:hover {
  color: gray;
  cursor: pointer;
  transition: 0.3s;
}
.container3 .photo-container {
  border-top: 1px solid #b6b6b6;
  border-bottom: 1px solid #b6b6b6;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  width: 100%;
}
@media (max-width: 940px) {
  .container3 .photo-container {
    flex-wrap: wrap;
    height: 100%;
    width: 90%;
  }
}
.container3 .photo-container .demo {
  padding: 0 3px 0 3px;
}
.container3 .photo-container img {
  width: 16.6%;
}
@media (max-width: 940px) {
  .container3 .photo-container img {
    width: 50%;
  }
}
@media (max-width:570px) {
  .container3 .photo-container img {
    width: 100%;
  }
}
body {
  margin: 0;
}
body .photogalleryTitle {
  text-align: center;
  padding: 32px;
  font-family: 'Allura', cursive;
}
body .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}
body .row .column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
@media screen and (max-width: 800px) {
  body .row .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  body .row .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
body .row .column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
.footer-container {
  background-color: #e6e0e0;
  max-width: 100%;
}
.footer-container .move-footer {
  display: flex;
  justify-content: flex-end;
}
.footer-container .move-footer .footer-icons {
  width: 130px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 35px;
}
.footer-container .move-footer .footer-icons a {
  font-size: 1.9rem;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #e6e0e0;
  background-color: #6E5F5F;
}
.footer-container .move-footer .footer-icons a:hover {
  color: #958989;
}
.footer-container .copyright-container {
  display: flex;
  justify-content: center;
}
@media (max-width: 940px) {
  .footer-container .copyright-container {
    flex-direction: column;
  }
}
.footer-container .copyright-container nav {
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 940px) {
  .footer-container .copyright-container nav {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
  }
}
.footer-container .copyright-container nav p {
  width: 100%;
  text-align: center;
}
@media (max-width: 940px) {
  .footer-container .copyright-container nav p {
    display: none;
  }
}
.footer-container .copyright-container nav a {
  text-decoration: none;
  color: black;
  font-family: 'cormorant garamond', serif;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.footer-container .copyright-container nav a:hover {
  color: gray;
  text-decoration: underline;
  text-decoration-color: black;
}
.footer-container .copyright-container nav .fa-heart {
  font-size: 1.4rem;
  color: #DF89A3;
}
.footer-container .copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
}
.footer-container .copyright .fa-heart {
  color: #DF89A3;
}
.footer-container .copyright p {
  padding: 10px;
}
@media (min-width:941px) {
  .footer-container .copyright {
    display: none;
  }
}
.registration-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100vw;
  height: 100%;
  background: url('../img/whitedresswoman.jpg');
  background-size: cover;
  background-position: bottom;
  font-family: 'Cormorant Infant', serif;
}
.registration-container .registration-form-bg {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  width: 35vw;
  height: 100vh;
}
.registration-container .registration-form-bg .form-header {
  text-align: center;
}
.registration-container .registration-form-bg form {
  display: flex;
  align-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.registration-container .registration-form-bg form label {
  font-size: 2rem;
  padding-left: 1rem;
  margin-top: 1rem;
}
.registration-container .registration-form-bg form input {
  background: rgba(255, 255, 255, 0.8);
  margin: 0.5rem 1rem 1rem 1rem;
  border: none;
  padding: 1rem;
  font-size: 2.25rem;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 6px;
}
.registration-container .registration-form-bg form .account-type {
  display: inline-flex;
  margin: 0 auto;
}
.registration-container .registration-form-bg form .account-type h4 {
  padding-top: 1rem;
}
.registration-container .registration-form-bg form .account-label {
  text-align: center;
  padding: 2rem 0 1rem 0;
}
.registration-container .registration-form-bg form .submit-btn {
  width: 45%;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 1.5rem;
  border: none;
  border-radius: 6px;
}
.login-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100vw;
  height: 100%;
  background: url('../img/weddingdress.jpg');
  background-size: fill;
  background-position: center;
  font-family: 'Cormorant Infant', serif;
}
.login-container .login-form-bg {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  width: 35vw;
  height: 100%;
}
.login-container .login-form-bg .form-header-login {
  text-align: center;
  margin-top: 6rem;
}
.login-container .login-form-bg form {
  display: flex;
  align-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 1rem;
}
.login-container .login-form-bg form label {
  font-size: 2rem;
  padding-left: 1rem;
  margin-top: 1rem;
}
.login-container .login-form-bg form input {
  background: rgba(255, 255, 255, 0.8);
  margin: 0.5rem 1rem 1rem 1rem;
  border: none;
  padding: 1rem;
  font-size: 2.25rem;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 6px;
}
.login-container .login-form-bg form .account-type {
  display: inline-flex;
  margin: 0 auto;
}
.login-container .login-form-bg form .account-type h4 {
  padding-top: 1rem;
}
.login-container .login-form-bg form .account-label {
  text-align: center;
  padding: 2rem 0 1rem 0;
}
.login-container .login-form-bg form .login-btn {
  width: 45%;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 1.5rem;
  border: none;
  border-radius: 6px;
}
.about-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  background: url('../img/banner\ 1.jpg');
  background-size: cover;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.8);
}
.about-container .about-header {
  font-family: 'Cormorant Infant', serif;
  margin: 3rem 0;
  text-align: center;
}
.about-container .about-body .image-wrapper {
  width: 40rem;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 3rem;
}
.about-container .about-body .image-wrapper img {
  border-radius: 50%;
}
.about-container .about-body .about-copy-wrapper {
  width: 45vw;
  text-align: center;
  margin: 0 auto;
}
.about-container .about-body .about-copy-wrapper .about-copy {
  font-size: 2rem;
}
.about-overlay {
  background-color: rgba(255, 255, 255, 0.8);
  width: 65%;
  height: 100%;
  margin: 0 auto;
}
