//banner

.landingPage-BannerContainer{
    position: relative;
    max-width: 100%;
    img{
        max-width: 100%;
        height: auto;
    }
    .intro{
        width:420px;
        height:250px;
        position: absolute;
        top: 40%;
        left: 10%;
        color: white;
        
        .title{
            background-color: rgba(40,33,26,0.6);
        }
        .buttons-container{
            padding:20px;display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            
            button{
                    height: 40px; 
                    border-radius: 5%;
                    
                    &:hover{
                        cursor: pointer;                        
                    }
            }
                
            .weddingPlanner{
                    color: peru; 
                    border: 2px solid @accentColor;
                    font-weight: bold;
                    background-color: whitesmoke;
                    &:hover{
                        background: white; 
                    } 
            }
                
            .signUp{
                width: 140px;
                color: white;
                background-color: peru;
                border: 2px solid @accentColor;
                font-weight: bold;

                &:hover{
                    background-color: @accentColor;
                }
            }    
        }
        p{   
            font-weight:bolder;
            padding-left: 120px;
            
            a{
                text-decoration: none;
                color: white;

                &:hover{
                    color: goldenrod;
                }
            }
        }
    }  
}

.landingPage-MainContainer{ 
   width:950px;
   margin: 0 auto;
   padding-bottom: 20px;

   .title{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       height: 190px;
    }   
    .advice-container{
        display:flex;
        flex-direction: row;
        .advice-section{
            padding: 10px;
            .top{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img{
                    width:64px;
                }
                p{
                    line-height: 60px;
                }
            }
             
        }
    }     
        
}

//blogs
.container2{
    border-top: 1px solid @linecolor;
    .idea-title{
        text-align:center;
        padding: 40px;
    }
   
    .blogs-list{ 
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        width:1300px;
        margin:auto;
      
        .idea-section{
          margin:auto;
           width:500px;
          
           
            .blog-img{width:100%;
                    height:70%;
                    padding:10px;
            }
            p{
                padding:10px;
                text-align:center;
                font-size: 2.1rem;
                a{
                text-decoration: none;
                color:black;
                }
            }
        }
    } 
    .blog-button{ 
      text-align:center;
      height: 100px;
      padding:10px;
      button{
          width: 100px;
          height:30px;
          border-radius: 10%;
          border-style: none;
          border:2px solid peru;
          background-color: whitesmoke;
          &:hover{
              cursor: pointer;
              background-color: peru;
              border: 2px solid @footerbg;
              transition: .5s;

          }
      }
       
    }
}

//Follow Us:IG
.container3{
    width: 100%;
    display: flex;
    justify-content: center;
     align-items: center;
     flex-direction: column;
    border-top: 1px solid @linecolor;
    .container3-top{ 
        max-width: 100%;
        
        
        .follow-us{ 
          
            padding-top: 30px;
            padding-bottom: 20px;
            text-align:center;
            p{
                &:hover{
                    color: gray;
                    cursor: pointer;
                    transition: 0.3s;
                }
            }
        }
    }
    .photo-container{ 
        border-top: 1px solid @linecolor;
        border-bottom: 1px solid @linecolor;
        padding-top: 30px;
        padding-bottom:30px;
        display:flex;
        flex-direction:row;
        max-width:100%;
        .demo{
            padding:0 3px 0 3px;
        }
        img{
            width:16.6%;
        }

    }
}