.display-justify-align(@display, @justify,@align) {
	display: @display;
	justify-content: @justify;
	align-items: @align;
}

.display-aligncontent(@display, @align) {
	display: @display;
	align-content: @align;
}

.width-height(@width, @height) {
	width: @width;
	height: @height;
}

.backgroundurl-backgroundsize(@backgroundurl, @backgroundsize) {
	background: @backgroundurl;
	background-size: @backgroundsize;
}

.marginauto() {
	margin: 0 auto;
}

.textcenter() {
	text-align: center;
}
