//color assignments
@accentColor: #ffb97b;
@footerbg: #e6e0e0;
@linecolor: #b6b6b6;


//mobile responsive
@mobile: ~'(max-width:570px)';
@tablet : ~ '(max-width: 940px)';
@desktop: ~ '(min-width:941px)';


//fonts
@cormorant: 'Cormorant Infant', serif;

// registration
@black-font: rgba(0, 0, 0, 0.8);
@transparentBlack1: rgba(0, 0, 0, 0.65);
@transparentWhite1: rgba(255, 255, 255, 0.8);

